/* BREAKPOINTS */
$full: 1200px;
$desktop: 960px;
$desktop-small: 768px;
$tablet: 640px;
$mobile: 480px;
$mobile-small: 360px;
$minimum: 320px;

/* COLORS */

/* LAYOUT VALUES */
$slider-offset: 83%;


/* FONTS */
$icon-font-path: "../fonts/";