#tdr_search_toggle { //toggle button
	border-radius : 0;
	padding: 8px;
	background: none;
	border: none;
	outline: 0;
	max-height: $nav-height;

	.lt-ie8 & {
		padding: 8px 6px 8px 13px;
		background-image: url(img/search.png);
		background-repeat: no-repeat;
		background-position: 2px 8px;
	}

	.lt-ie8 .show & {
		background-image: url(img/search-teal.png);
	}
}

.tdr_search { //common styling to both search forms
	.dropdown {
		@media screen and (min-width: 768px) {
			margin-right: 10px;
		}
	}

	.dropdown-menu {
		@media screen and (max-width: 768px) {
		}

		@media screen and (min-width: 768px) {
			width: 150px;
		}
	}

	.search-scope {
		max-width: 99px;
		font-size: 11px;
		padding: 4px 2px 4px 0;
		float: left;
	}

	.input-group {
		float: right;
	}

	form {
		margin: 0;
	}

	.form-control {
		float: right;
		border-radius: 0;
		height: 26px;

		.lt-ie8 & {
			height: 10px;
		}
	}
}

#tdr_nav { //top nav search
	.tdr_search {
		float: right;
		position: relative;
		max-width: 380px;

		#tdr_search_content {
			z-index: 2;
			position: absolute;
			right: 0;
			top: $nav-height;
			float: left;
			width: 520px;
			padding: 15px;
			background-color: $search-teal;
			border: 0;
			box-shadow: 0 6px 5px rgba(0, 0, 0, 0.1);
			background-clip: padding-box;
		}

		&.show {
			#tdr_search_toggle {
				background-color: $search-teal;
				color: #fff;
			}
		}
	}

	.no-csstransitions & {
		.tdr_search {

			#tdr_search_content {
				display: none;
			}

			&.show {
				#tdr_search_content {
					display: block;
				}
			}
		}
	}

	.lt-ie8.no-csstransitions & {
		.tdr_search.show {
			#tdr_search_content {
				top: 33px;
			}
		}
	}

	.csstransitions & {
		.tdr_search {
			#tdr_search_toggle {
				@include transition(.25s);
			}

			#tdr_search_content {
				display: block;
				opacity: 0;
				@include transition(.25s);
			}

			&.show {
				#tdr_search_toggle {
					background-color: $search-teal;
					color: #fff;
					@include transition(.25s);
				}

				#tdr_search_content {
					opacity: 1;
					@include transition(.25s);
				}
			}
		}
	}

	.input-group {
		width: 360px;
	}
}

#tdr_search_content {

}

#tdr_side_nav { //slide out side search bar
	.tdr_search {
		padding: 7px;
		background-color: #fff;
		border-bottom: 2px solid #BDBDBD;
		height: 43px;

		.btn {
			font-size: 12px;
			padding: 4px 5px;

			.caret {
				margin-left: 4px;
			}
		}
	}

	.form-control {
		padding: 6px;

		.lt-ie8 & {
			width: 96%;
		}
	}

	.input-group {
		width: 54%;

		@media screen and (min-width: $mobile-small) {
			width: 60%;
		}

		@media screen and (min-width: $mobile) {
			width: 70%;
		}

		@media screen and (min-width: $tablet) {
			width: 75%;
		}
	}
}