/* IE7 and IE8 specifics */




/********************
FLEXSLIDER
************************/

.flexslider.alt .flex-direction-nav li a,
.flexslider.alt .flex-caption {
  background: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA1986b4, endColorstr=#AA1986b4);
  zoom: 1;
}



/* side nav ie 7 issues */

#tdr_side_nav {
  *display: none;
}

/* search bar icon fallback */

.glyphicon-search {
  background: transparent url("img/search_ie_icon.png") no-repeat;
}
