.flexslider .flex-direction-nav li a {
  background: 0;
}

.flexslider.alt .flex-direction-nav li a,
.flexslider.alt .flex-caption {
  background: 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#AA1986b4, endColorstr=#AA1986b4);
  zoom: 1;
}